.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  .flex-center();

  width: 300px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #8f8f8f;
  margin: 60px auto 0;
}

.text-container {
  height: 192px;
  overflow: hidden;
}

.text-row {
  line-height: 48px;
}
